@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0d0d;
  color: #e0e0e0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", cursive;
  color: #39ff14;
  margin-bottom: 1rem; /* Corresponds to theme('spacing.4') */
}

a {
  color: #00ffff;
  text-decoration: none;
  transition: color 0.2s ease-in-out; /* Add this line */
}

a:hover {
  color: #ff00ff;
}

p {
  margin-bottom: 1rem; /* Corresponds to theme('spacing.4') */
}
